# Ignore all files
*

# But don't ignore .ipynb files
!*.ipynb

# Ignore .ipynb_checkpoints
.ipynb_checkpoints

# Ignore the virtual environment directory
venv/

# Ignore pycache
__pycache__/
*.py[cod]

# Ignore DataSpell specific files
.idea/